<br><br><br><br><br>
<div align="center">
    <h1>Zombie University</h1>
    <p>
        <a class="btn black light-green-text text-accent-2 waves-effect waves-light" href="<%= students_path %>">
	   Current Studentz
        </a>
    </p>	
    <p>
        <a class="btn black light-green-text text-accent-2 waves-effect waves-light" href="<%= professors_path %>">
        Current Professorz
        </a>
    </p>
    <p>
        <a class="btn black light-green-text text-accent-2 waves-effect waves-light" href="<%= courses_path %>">
        Course Catelog
        </a>
    </p>
    <p>
        <a class="btn black light-green-text text-accent-2 waves-effect waves-light" href="<%= sections_path %>">
        Section Listing
        </a>
    </p>
</div>
