<br><br><br><br><br>
<div align="center">
<h1>Zombie University</h1>
<p>
	<%= button_to "Current Studentz", students_path, method: :get %>
</p>	
<p>
	<%= button_to "Current Professorz", professors_path, method: :get %>
</p>
<p>
	<%= button_to "Course Catelog", courses_path, method: :get %>
</p>
<p>
	<%= button_to "Section Listing", sections_path, method: :get %>
</p>
</div>
