<!DOCTYPE html>
<html>
<head>
  <title>ZombieUniversity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
body {
	background-image: url("/assets/ZomUnivWallpaper.jpg");
	background-repeat: no-repeat;
}

</style>

</head>

<body>

<font color="#00FF22"/>
<%= yield %>

</body>
</html>
